@model WebApplication1.Models.ReportViewModel
@using WebApplication1.Models
@{
    ViewData["Title"] = "Сформировать отчёт";
}

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="card mb-4">
                    <div class="card-header bg-white py-3">
                        <h2 class="mb-0 fs-3">Сформировать отчёт по заявке</h2>
                    </div>
                    <div class="alert alert-info">
                        <strong>ID заявки:</strong> @Model.TicketId<br />
                        <strong>Описание заявки:</strong> @Model.TicketDescription
                    </div>
                    <div class="card-body p-4">
                        <form asp-controller="Report" asp-action="GenerateReport" method="post">
                            <input type="hidden" asp-for="TicketId" />
                            <input type="hidden" asp-for="TicketDescription" />

                            <div class="mb-4">
                                <label asp-for="FullName"></label>
                                <input asp-for="FullName" class="form-control" value="@User.FindFirst("FirstName")?.Value @User.FindFirst("LastName")?.Value" readonly />
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="EmailTo"></label>
                                <input asp-for="EmailTo" class="form-control" placeholder="example@example.com" />
                                <span asp-validation-for="EmailTo" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="NewStatus" class="form-label required-field">Статус заявки</label>
                                <select asp-for="NewStatus" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control">
                                    <option selected="selected" value="">-- Выберите статус --</option>
                                </select>
                                <span asp-validation-for="NewStatus" class="text-danger"></span>

                            </div>
                            
                            <div class="mb-4">
                                <label asp-for="Description" class="form-label required-field">Детали отчёта</label>
                                <textarea asp-for="Description" style="resize:none" class="form-control" rows="4" placeholder="Опишите, что было сделано..."></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label asp-for="TimeSpentHours"></label>
                                <input asp-for="TimeSpentHours" type="number" step="0.1" min="0.1" class="form-control" />
                                <span asp-validation-for="TimeSpentHours" class="text-danger"></span>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
                                <button type="submit" class="btn btn-primary">Сформировать и отправить отчёт</button>
                                <a asp-controller="" asp-action="Index" class="btn btn-outline-secondary me-md-2">Отмена</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>



@* <form asp-controller="Report" asp-action="GenerateReport" method="post"> *@
@*     <input type="hidden" asp-for="TicketId" /> *@
@*     <input type="hidden" asp-for="TicketDescription" /> *@

@*     <div class="form-group"> *@
@*         <label asp-for="FullName"></label> *@
@*         <input asp-for="FullName" class="form-control" value="@User.FindFirst("FirstName")?.Value @User.FindFirst("LastName")?.Value" readonly /> *@
@*         <span asp-validation-for="FullName" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="form-group"> *@
@*         <label asp-for="EmailTo"></label> *@
@*         <input asp-for="EmailTo" class="form-control" placeholder="example@example.com" /> *@
@*         <span asp-validation-for="EmailTo" class="text-danger"></span> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="NewStatus"></label> *@
@*         <select asp-for="NewStatus" asp-items="Html.GetEnumSelectList<TicketStatus>()" class="form-control"> *@
@*             <option selected="selected" value="">-- Выберите статус --</option> *@
@*         </select> *@
@*         <span asp-validation-for="NewStatus" class="text-danger"></span> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label asp-for="Description"></label> *@
@*         <textarea asp-for="Description" rows="5" class="form-control" placeholder="Опишите, что было сделано..."></textarea> *@
@*         <span asp-validation-for="Description" class="text-danger"></span> *@
@*     </div> *@

@*     <div class="form-group"> *@
@*         <label asp-for="TimeSpentHours"></label> *@
@*         <input asp-for="TimeSpentHours" type="number" step="0.1" min="0.1" class="form-control" /> *@
@*         <span asp-validation-for="TimeSpentHours" class="text-danger"></span> *@
@*     </div> *@

@*     <button type="submit" class="btn btn-success">Сформировать и отправить отчёт</button> *@
@*     <a asp-controller="" asp-action="Index" class="btn btn-secondary">Отмена</a> *@
@* </form> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}